

/**************services***********/
div.row.collapse.services {
    background: #57aebc;
    padding: 28px;
    color: #fff;
    margin-bottom: 25px;
    border-radius: 25px;
    font-size: 1.2em;
}

.services-image {
    width: 250px;
    height: 180px;
    border-radius: 75px;
	float: right;
	margin: 0 0 10px 10px;
	padding: 2px;
	border: 2px solid #ccc;
}

p {
    font-family: inherit;
    font-weight: normal;
    font-size: 1em;
    line-height: 1.6;
    margin-bottom: 1.25em;
    text-rendering: optimizeLegibility;
}
